* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background: #000;
  font-family: sans-serif;
}
.window {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 999;
  -webkit-transition: opacity 0.6s;
          transition: opacity 0.6s;
}
.window h1,
.window h2,
.window p {
  color: #fff;
  text-align: center;
}
.window h2 {
  margin-top: 100px;
  margin-bottom: 10px;
}
.window .meta {
  margin-top: 50px;
  opacity: 0.6;
}
.window h1 {
  line-height: 50px;
}
.window .btn-group {
  margin: 80px auto;
  width: 100px;
  height: 90px;
  overflow: hidden;
  position: relative;
}
.window .gopher {
  position: relative;
  top: 6px;
  left: 0;
  margin: 0 auto;
}
/*.window label {*/
.start-btn {
  z-index:1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #51a70d;
  color: #fff;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-bottom: 4px solid #62b210;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#random {
  z-index:2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1350%;
  height: 40px;
  background: transparent;
  line-height: 40px;

  -webkit-animation: backandforth 6s linear infinite;
  animation: backandforth 6s linear infinite;
}

@-webkit-keyframes backandforth {0%{left:-1300;} 100%{left:50%;}}

@keyframes backandforth {0%{left:-1300%;} 100%{left:50%;}}

/*.window label.random-selection {*/
#random label {
  position: relative;
  float:left;
  width: 50px;
  height: 100%;
  cursor: pointer;
}

.rs:checked ~ #start{
  opacity: 0;
  pointer-events: none;
  -webkit-pointer-events: none;
}

#end {
  opacity: 0;
  pointer-events: none;
  -webkit-pointer-events: none;
}

.rs {
  opacity: 0;
}

#container {
  background: -webkit-linear-gradient(top, #8adcf7 0%, #bbe8fd 100%);
  background: linear-gradient(to bottom, #8adcf7 0%, #bbe8fd 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -300px;
  width: 800px;
  height: 600px;
  border: 1px solid #000;
  overflow: hidden;
}
#table {
  position: absolute;
  bottom: 0;
  left: -180px;
  width: 1200px;
  height: 600px;
  background-color: gold;
  border-radius: 20px;
  -webkit-transform: perspective(600px) rotateX(45deg);
          transform: perspective(600px) rotateX(45deg);
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}
.gopher {
  z-index: 0;
  position: absolute;
  display: block;
  top: 70px;
  left: 7px;
  width: 56px;
  height: 100px;
  border-radius: 20px;
  background: #e3c498;
  background-image: -webkit-radial-gradient(20px 23px, circle, #000000 5%, rgba(255, 255, 255, 0) 5%), -webkit-radial-gradient(17px 20px, circle, #ffffff 10%, rgba(255, 255, 255, 0) 10%), -webkit-radial-gradient(40px 23px, circle, #000000 5%, rgba(255, 255, 255, 0) 5%), -webkit-radial-gradient(43px 20px, circle, #ffffff 10%, rgba(255, 255, 255, 0) 10%), -webkit-radial-gradient(center 36px, circle, #000000 8%, rgba(255, 255, 255, 0) 8%), -webkit-radial-gradient(center 48px, circle, #ffffff 20%, rgba(255, 255, 255, 0) 20%);
  background-image: radial-gradient(circle at 20px 23px, #000000 5%, rgba(255, 255, 255, 0) 5%), radial-gradient(circle at 17px 20px, #ffffff 10%, rgba(255, 255, 255, 0) 10%), radial-gradient(circle at 40px 23px, #000000 5%, rgba(255, 255, 255, 0) 5%), radial-gradient(circle at 43px 20px, #ffffff 10%, rgba(255, 255, 255, 0) 10%), radial-gradient(circle at center 36px, #000000 8%, rgba(255, 255, 255, 0) 8%), radial-gradient(circle at center 48px, #ffffff 20%, rgba(255, 255, 255, 0) 20%);
  -webkit-appearance: button;
  -moz-apperance: button;
  appearance: button;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.gopher:before,
.gopher:after {
  z-index: -1;
  content: '';
  left: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #e3c498;
  border-radius: 50%;
  background-image: -webkit-radial-gradient(center, circle, #000000 40%, rgba(255, 255, 255, 0) 40%);
  background-image: radial-gradient(circle at center, #000000 40%, rgba(255, 255, 255, 0) 40%);
}
.gopher:after {
  left: auto;
  right: -5px;
}
.gopher--not-button {
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;
}
.machine {
  width: 500px;
  height: 500px;
  top: 100px;
  left: 150px;
  border: solid white 20px;
  background-color: black;
  border-radius: 15px 15px 0 0;
  transform: translateZ(250px);
  position: absolute;
}
.upper-panel {
  /*border-radius: 25px;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 150px;
  background-color: black;
}
.lower-panel {
  /*border-radius: 25px;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 320px;
  height: 200px;
  background-color: black;
}
.gopher:checked {
  -webkit-animation-name: none;
          animation-name: none;
  pointer-events: none;
  -webkit-pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
.reel {
      width: 140px;
      height: 150px;
      margin-top: 160px;
      margin-left: 10px;
      float: left;
      /*position: absolute;*/
      /*-webkit-transform: translateZ( -233px );
         -moz-transform: translateZ( -233px );
           -o-transform: translateZ( -233px );
              transform: translateZ( -233px );*/
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      /*-webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;*/
      /*animation: spin 4s linear;*/
    }
    .reel figure {
      display: block;
      position: absolute;
      width: 140px;
      height: 150px;
      /*left: 10px;
      top: 10px;*/
      border: 2px solid black;
      border-radius: 15px;
      line-height: 116px;
      /*font-size: 80px;*/
      font-weight: bold;
      color: white;
      text-align: center;
    }
    .reel figure.coffee-maker { background: hsla(  30, 100%, 30%, 1 ); }
    .reel figure.teapot { background: hsla(  120, 50%, 70%, 1 ); }
    .reel figure.espresso-machine { background: hsla(  31, 100%, 60%, 1 ); }
    .reel figure.coffee-filter { background: hsla( 30, 100%, 30%, 1 ); }
    .reel figure.tea-strainer { background: hsla( 120, 50%, 70%, 1 ); }
    .reel figure.tamper { background: hsla( 31, 100%, 60%, 1 ); }
    .reel figure.coffee-grounds { background: hsla( 30, 100%, 30%, 1 ); }
    .reel figure.tea { background: hsla( 120, 50%, 70%, 1 ); }
    .reel figure.beans { background: hsla( 31, 100%, 60%, 1 ); }
    .reel figure:nth-child(1) {
      -webkit-transform: rotateX(   0deg ) translateZ( 206px );
         -moz-transform: rotateX(   0deg ) translateZ( 206px );
           -o-transform: rotateX(   0deg ) translateZ( 206px );
              transform: rotateX(   0deg ) translateZ( 206px );
    }
    .reel figure:nth-child(2) {
      -webkit-transform: rotateX(  40deg ) translateZ( 206px );
         -moz-transform: rotateX(  40deg ) translateZ( 206px );
           -o-transform: rotateX(  40deg ) translateZ( 206px );
              transform: rotateX(  40deg ) translateZ( 206px );
    }
    .reel figure:nth-child(3) {
      -webkit-transform: rotateX(  80deg ) translateZ( 206px );
         -moz-transform: rotateX(  80deg ) translateZ( 206px );
           -o-transform: rotateX(  80deg ) translateZ( 206px );
              transform: rotateX(  80deg ) translateZ( 206px );
    }
    .reel figure:nth-child(4) {
      -webkit-transform: rotateX( 120deg ) translateZ( 206px );
         -moz-transform: rotateX( 120deg ) translateZ( 206px );
           -o-transform: rotateX( 120deg ) translateZ( 206px );
              transform: rotateX( 120deg ) translateZ( 206px );
    }
    .reel figure:nth-child(5) {
      -webkit-transform: rotateX( 160deg ) translateZ( 206px );
         -moz-transform: rotateX( 160deg ) translateZ( 206px );
           -o-transform: rotateX( 160deg ) translateZ( 206px );
              transform: rotateX( 160deg ) translateZ( 206px );
    }
    .reel figure:nth-child(6) {
      -webkit-transform: rotateX( 200deg ) translateZ( 206px );
         -moz-transform: rotateX( 200deg ) translateZ( 206px );
           -o-transform: rotateX( 200deg ) translateZ( 206px );
              transform: rotateX( 200deg ) translateZ( 206px );
    }
    .reel figure:nth-child(7) {
      -webkit-transform: rotateX( 240deg ) translateZ( 206px );
         -moz-transform: rotateX( 240deg ) translateZ( 206px );
           -o-transform: rotateX( 240deg ) translateZ( 206px );
              transform: rotateX( 240deg ) translateZ( 206px );
    }
    .reel figure:nth-child(8) {
      -webkit-transform: rotateX( 280deg ) translateZ( 206px );
         -moz-transform: rotateX( 280deg ) translateZ( 206px );
           -o-transform: rotateX( 280deg ) translateZ( 206px );
              transform: rotateX( 280deg ) translateZ( 206px );
    }
    .reel figure:nth-child(9) {
      -webkit-transform: rotateX( 320deg ) translateZ( 206px );
         -moz-transform: rotateX( 320deg ) translateZ( 206px );
           -o-transform: rotateX( 320deg ) translateZ( 206px );
              transform: rotateX( 320deg ) translateZ( 206px );
    }

.gopher1 {
  /*-webkit-animation-name: gopher1;
          animation-name: gopher1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;*/
  -webkit-animation: gopher1 1s linear infinite;
  animation: gopher1 1s linear infinite;
}
@-webkit-keyframes gopher1 {
  0% {
    top: 70px;
  }
  10% {
    top: 0;
  }
  20% {
    top: 70px;
  }
  30% {
    top: 0;
  }
  40% {
    top: 70px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 70px;
  }
}
@keyframes gopher1 {
  0% {
    top: 70px;
  }
  100% {
    top: -170px;
  }
}
.rs:checked ~ .points {
  top: 20px;
}
.points {
  -webkit-transition: top 1s;
          transition: top 1s;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: -100px;
  left: 50%;
  width: 100px;
  height: 48px;
  margin-left: -50px;
  background: rgba(0, 0, 0, 0.2);
  border: 4px solid #ffffff;
  border-radius: 4px;
  color: #fff;
}
.points .points-viewport {
  overflow: hidden;
  height: 40px;
  width: 100%;
}
.points .points-list {
  position: relative;
  top: -480px;
}
.points input {
  display: block;
  height: 40px;
  -webkit-transition: 1s;
          transition: 1s;
}
.points input:checked {
  height: 0;
}
.points ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.points li {
  display: block;
  height: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  cursor: default;
}
/*#startFlag:checked ~ #end {*/
.rs:checked ~ #end {
  -webkit-animation: end 8s linear 0s forwards;
          animation: end 8s linear 0s forwards;
}

#rand1:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand1:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand1:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

/*winner*/
#rand2:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand2:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand2:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand3:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand3:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand3:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand4:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand4:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand4:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand5:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand5:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand5:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand6:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand6:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand6:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand7:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand7:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand7:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand8:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand8:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand8:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand9:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand9:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand9:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand10:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand10:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand10:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand11:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand11:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand11:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand12:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand12:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand12:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand13:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand13:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand13:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

/*winner*/
#rand14:checked ~ .machine #reel1 {
    animation: spin3 8s linear;
}
#rand14:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand14:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

/*winner*/
#rand15:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand15:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand15:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand16:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand16:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand16:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand17:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand17:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand17:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand18:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand18:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand18:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand19:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand19:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand19:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand20:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand20:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand20:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand21:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand21:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand21:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand22:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand22:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand22:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand23:checked ~ .machine #reel1 {
    animation: spin1 8s linear;
}
#rand23:checked ~ .machine #reel2 {
    animation: spin3 8s linear;
}
#rand23:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand24:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand24:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand24:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

#rand25:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand25:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand25:checked ~ .machine #reel3 {
    animation: spin2 8s linear;
}

#rand26:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand26:checked ~ .machine #reel2 {
    animation: spin1 8s linear;
}
#rand26:checked ~ .machine #reel3 {
    animation: spin3 8s linear;
}

#rand27:checked ~ .machine #reel1 {
    animation: spin2 8s linear;
}
#rand27:checked ~ .machine #reel2 {
    animation: spin2 8s linear;
}
#rand27:checked ~ .machine #reel3 {
    animation: spin1 8s linear;
}

@keyframes spin1 {
  0% {
    transform: rotateX(0deg);
  }
  60% {
    transform: rotateX(-640deg);
  }
  80% {
    transform: rotateX(-720deg);
  }
  100% {
    transform: rotateX(-720deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotateX(40deg);
  }
  60% {
    transform: rotateX(-600deg);
  }
  80% {
    transform: rotateX(-680deg);
  }
  100% {
    transform: rotateX(-680deg);
  }
}

@keyframes spin3 {
  0% {
    transform: rotateX(80deg);
  }
  60% {
    transform: rotateX(-560deg);
  }
  80% {
    transform: rotateX(-640deg);
  }
  100% {
    transform: rotateX(-640deg);
  }
}
@-webkit-keyframes progress {
  from {
    width: 0;
    background: #00ff00;
  }
  to {
    width: 136px;
    background: #ff0000;
  }
}
@keyframes progress {
  from {
    width: 0;
    background: #00ff00;
  }
  to {
    width: 136px;
    background: #ff0000;
  }
}
#end {
  top: -800px;
  opacity: 1;
  display: block;
  border-bottom: 2px solid #fff;
}
#end .gopher {
  position: absolute;
  left: 50%;
  top: auto;
  margin-left: -30px;
  bottom: -54px;
}
@-webkit-keyframes end {
  from {
    top: -800px;
  }
  95% {
    top: -800px;
  }
  to {
    top: 0;
  }
}
@keyframes end {
  from {
    top: -800px;
  }
  95% {
    top: -800px;
  }
  to {
    top: 0;
  }
}
